<?xml version="1.0" encoding="UTF-8"?>
<!-- Set values & move to /ios/keys.xml -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>key</key>
    <string>[tumblr consumer key]</string>
    <key>sec</key>
    <string>[tumblr consumer secret]</string>
</dict>
</plist>
